body{
    margin: 0 auto;
    max-width: 50em;
    padding: 1em 0;
    text-align: center;
    justify-content: center;
}
.grid > * {
    display: flex;
    align-items: center;
}
.container{
    display: grid;
    max-height: 100%;
    grid-template-columns: 150px auto 150px;
    grid-template-rows: repeat(3, 100px);
    color: yellow;
    
}


nav,
header,
.landingBody,
footer,div.container
{
    /* background-color: rgb(146, 143, 151);
    border-color: 2px rgb(255,208,0); */
    grid-gap: 4em;
}

header, footer {
    border: 2em blue;
}

nav{
    
    
}

.landingBody{
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    border-color: yellow;
    /* padding: 40%; */
}

footer{
    
    
}