body{
    margin: 0 auto;
    max-width: 50em;
    padding: 1em 0;
    justify-content: center;
}

div.title {
    color: rgb(255, 208, 0);
    font-size: 6em;
    font-family: 'Poor Story', Hind; 
    transform: shake;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}

@keyframes shake {
  5%, 100% {
    transform: translate3d(-1px, 0, 0);
  }
  
   20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.container{
    color: rgb(255,208,0);
}

nav{
    border: black;
    font-size: 20px;
}

.landingBody{
    padding: 40%; 
    font-size: 4em;
    text-align: center;
 } 
div{
    align-items: center;
    grid-column: 1/ 4;
    padding-left: 1em;

}

footer{
    grid-area: f;
    font-size:20px;
    
    
    font-family: Hind;
}
.eventRegister{
    grid-area: h;

}
a:link {
    color:white;
}

a:hover {
    color: green;
}