.container {
    background: grey;
    border-radius: 15px;
    align-content: left;
}

.showEvents{
    width: 100%;
}

.detailsbox{
    overflow: auto;
    color: pink;
    max-height: 40em;
    border-style: inset;

}
