.container {
    background: grey;
    border-radius: 15px;
}

.buttons{
/* background-color:   rgb(90, 9, 90); */
color: rgb(255, 208, 0);
}

.detailsbox{
    /* background-color: rgb(90, 9, 90); */
    overflow: auto;
    color: pink;
}
