div.App{
    grid-area: c;
}


h2 {
    color: rgb(167, 164, 164);
    size: 2em;
}

p {
    color: rgb(167, 164, 164);
    size: 4em;
}

input {
    color: rgb(219, 214, 214);
    background-color: rgb(202, 154, 202);
}
