body{
    text-align: center;
    background: rgb(90, 9, 90);
}

h1.title {
    grid-area: h;
    color: rgb(255, 208, 0);
    font-size: 8em;
    font-family: 'Poor Story', Hind; 
    transform: shake;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}

@keyframes shake {
  5%, 100% {
    transform: translate3d(-1px, 0, 0);
  }
  
   20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


h1 {
    text-align: center;
    border: 2px black solid;
}

h2 {
    border-color: darkgray;
    font-family: 'Oxygen', sans-serif;
}

p { 
    font-size: 20px;
    /* color: black; */
    font-family: 'Oxygen', sans-serif;
}



