body{
    text-align: center;
    background: rgb(90, 9, 90);
}

div.title {
    color: rgb(255, 208, 0);
    font-size: 6em;
    font-family: 'Poor Story', Hind;
}

header {
    text-align: center;
    border: 2px black solid;
}

h2 {
    border-color: darkgray;
    font-family: 'Oxygen', sans-serif;
}

p { 
    font-family: 'Oxygen', sans-serif;
}


